<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	<aop:aspectj-autoproxy />
	
	<!-- <bean name="loggingAdvice" class="com.shambhu.advice.SimpleLoggerAdvice" /> -->
	
	<!-- <bean name="loggingAdvice" class="com.shambhu.advice.LoggingAllGetAdvice" /> -->
	
	<!-- <bean name="loggingAdvice" class="com.shambhu.advice.LoggerClassLabelAdvice" /> -->
	
	<!-- <bean name="loggingAdvice" class="com.shambhu.advice.LoggerAllAdvice" /> -->
	
	<bean name="loggingAdvice" class="com.shambhu.advice.AdviceWithJointPoint" />
	
	<bean name="employee" class="com.shambhu.model.Employee">
		<property name="employeeId" value="210" />
		<property name="firstName" value="Shambhu" />
		<property name="lastName" value="Kumar" />
		<property name="phone" value="9893333083" />
	</bean>

	<bean id="employeeService" class="com.shambhu.service.EmployeeService">
		<property name="employee" ref="employee" />
	</bean>




	<bean name="project" class="com.shambhu.model.Project" />

	<bean id="projectService" class="com.shambhu.service.ProjectService">
		<property name="project" ref="project" />
	</bean>
</beans>
